.chatRoomList {
    grid-area: r;
    box-sizing: border-box;
    padding: 10px;
    background-color: var(--main-color);
    overflow: scroll;
    height: 100%;
}  

.chatRoomList > ul {
  list-style-type: none;    
  padding: 0;
  overflow: scoll;
}

.chatRoomList li {
  margin: 10px 0;
}

.chatRoomList > h3 {
  margin: 5px 0;
  color: var(--secondary-color);
}

.chatRoom a {
  color: var(--secondary-text-color);
  font-weight: 600;
  text-decoration: none;
  
}

.activeClass a {
  color: var(--secondary-color);
}

.disableClass { 
  pointer-events: none; 
  cursor: default; 
}
