.message {
  margin: 15px 0;
}

.messageUsername {
  font-size: 15px;
  font-weight: bold;
  color: var(--main-text-color);
  opacity: 0.9;
  margin-bottom: 6px;
}

.messageText {
  background: var(--main-color);
  color: var(--secondary-color);
  display: inline;
  padding: 4px 8px;
  border-radius: 8px;
}
  